/* Global
---------------------------------------------------------------*/
body {
    color: #333;
    font-family: 'Open Sans';
}

p {
    font-family: 'Lato';
}

input,
textarea {
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 5px 12px;
}

textarea {
    border-radius: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 5px 12px;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' fill-opacity='0.8' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 3px;
    margin-right: 2rem;
    padding-right: 2rem;
}

.buttonGen {
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
    border: none;
    background: rgba(40, 117, 249, 1);
    background: -moz-linear-gradient(left, rgba(40, 117, 249, 1) 0%, rgba(84, 57, 219, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(40, 117, 249, 1)), color-stop(100%, rgba(84, 57, 219, 1)));
    background: -webkit-linear-gradient(left, rgba(40, 117, 249, 1) 0%, rgba(84, 57, 219, 1) 100%);
    background: -o-linear-gradient(left, rgba(40, 117, 249, 1) 0%, rgba(84, 57, 219, 1) 100%);
    background: -ms-linear-gradient(left, rgba(40, 117, 249, 1) 0%, rgba(84, 57, 219, 1) 100%);
    background: linear-gradient(to right, rgba(40, 117, 249, 1) 0%, rgba(84, 57, 219, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2875f9', endColorstr='#5439db', GradientType=1);
    height: 100%;
}

.buttonGen:hover {
    background: rgba(86, 146, 251, 1);
    background: -moz-linear-gradient(left, rgba(86, 146, 251, 1) 0%, rgba(114, 91, 225, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(86, 146, 251, 1)), color-stop(100%, rgba(114, 91, 225, 1)));
    background: -webkit-linear-gradient(left, rgba(86, 146, 251, 1) 0%, rgba(114, 91, 225, 1) 100%);
    background: -o-linear-gradient(left, rgba(86, 146, 251, 1) 0%, rgba(114, 91, 225, 1) 100%);
    background: -ms-linear-gradient(left, rgba(86, 146, 251, 1) 0%, rgba(114, 91, 225, 1) 100%);
    background: linear-gradient(to right, rgba(86, 146, 251, 1) 0%, rgba(114, 91, 225, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5692fb', endColorstr='#725be1', GradientType=1);
    text-decoration: none;
    color: white;
}

.buttonGen:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 2px 5px rgba(0, 0, 0, 0.14);
}

.buttonSec {
    background-color: white;
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid #ccc;
    color: #333;
    height: 100%;
}

.buttonSec:hover {
    background-color: #e6e6e6;
}

#results {
    padding: 40px 60px;
}

.errorGlobal {
    font-size: 11px;
    color: #cc0000;
    margin-top: 10px;
}

.exitoGlobal {
    font-size: 11px;
    color: #78d65c;
    margin-top: 10px;
}

img[alt] {
    font-size: 9px;
    text-align: center;
}

.titleContainer {
    display: flex;
    align-items: center;
    padding: 50px 60px 0;
}

.titleContainer .title {
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.tooltipA {
    position: relative;
    display: inline-block;
}

.tooltipA .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 20px;
    right: -50px;
}

.tooltipA:hover .tooltiptext {
    visibility: visible;
}

.alertPop {
    position: fixed;
    width: 600px;
    bottom: 20px;
    left: 50%;
    z-index: 5;
    margin-left: -300px;
}

/* Header
---------------------------------------------------------------*/
header {
    background-color: #24292E;
    color: white;
    padding: 17px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 175px;
}

header .logo img {
    width: 100%;
}

header .navContainer {
    display: flex;
}

header .navContainer a {
    color: white;
    font-size: 1.25em;
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

header .navContainer a:last-child {
    margin-right: 15px;
}


header .navContainer a:hover {
    color: #d3d3d3;
    text-decoration: none;
}

header .navContainer a:focus {
    color: #d3d3d3 !important;
    text-decoration: none;
}

.dropdown-menu {
    left: -70px !important;
}

.dropdown-menu a {
    color: #333 !important;
    width: 100%;
}

/*effect-underline*/
a.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

a.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.effect-underline span {
    margin-right: 9px;
}

/* Header
---------------------------------------------------------------*/
#search {
    text-align: center;
    padding: 30px 50px;
}

.searchInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.searchInputContainer label {
    margin-bottom: 0px;
    font-size: 1.5em;
    border-radius: 50%;
    padding: 10px 14px;
    border: solid 1px #ccc;
    color: #383838;
    margin-right: 10px;
}

.searchInputContainer .buttonGen {
    padding: 20px 40px;
    font-size: 1em;
}

.searchInput {
    padding: 10px;
    font-size: 2.5em;
    border: none;
    border-radius: 50px;
    margin-right: 5px;
}

.searchInput:focus {
    outline: none;
}

.ubi {
    margin-right: 20px;
}

/* Sites List
---------------------------------------------------------------*/
.siteList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.siteList .title {
    text-align: center;
    margin-bottom: 40px;
}

.siteCard {
    border-radius: 4px;
    width: 23%;
    margin-bottom: 40px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13), 0 2px 5px rgba(0, 0, 0, 0.20);
}

.siteCard .imageContainer {
    background-color: #ccc;
    width: 100%;
    min-height: 150px;
    height: 200px;
}

.siteCard .info {
    padding: 10px 15px;
}

.siteCard .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.siteCard p {
    margin-bottom: 0px;
}

.siteCard .infoUbi,
.siteCard .infoStar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.siteCard .infoUbi span,
.siteCard .infoStar span {
    margin-right: 5px;
}

.siteCard .infoStar span {
    color: #ffd400;
}

.siteCard a {
    color: #333;
}

.siteCard a:hover,
.siteCard a:focus {
    color: #333;
    text-decoration: none;
}

/* Site
---------------------------------------------------------------*/
#map {
    background-color: #ccc;
    width: 100%;
    height: 350px;
}

/* Login & Registro
---------------------------------------------------------------*/
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #dbf7ff;
    background-image: url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.login .loginCard {
    padding: 40px;
    background-color: white;
    width: 50%;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13), 0 2px 5px rgba(0, 0, 0, 0.20);
}

.login .loginCard .title {
    font-size: 1.7em;
    margin-bottom: 30px;
}

.login .loginCard .logo {
    width: 200px;
}

.inputPair {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputPair.short {
    width: 35%;
}

.inputPair.long {
    width: 65%;
}

.inputPair input,
.inputPair textarea,
.inputPair select {
    width: 75%;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.inputPairDouble {
    display: flex;
    width: 100%;
}

.inputPairDouble input,
.inputPairDouble textarea,
.inputPairDouble select {
    width: 95%;
    margin-bottom: 15px;
}

.inputGender {
    display: flex;
    width: 90%;
    align-items: center;
    border: 1px solid#ccc;
    border-radius: 50px;
    padding: 0 15px;
}

.inputGender input,
.inputGender textarea,
.inputGender select {
    width: 100px !important;
}

.inputGender label {
    font-size: 11px;
}

/* Profile
---------------------------------------------------------------*/
.profile {}

.profile .profileHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .profilePic {
    width: 200px;
    height: 200px;
    margin-right: 50px;
    border-radius: 100px;
    background-color: #ccc;
}

.profile .profilePic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.profile .name {
    margin-bottom: 5px;
}

.profile .username {
    color: #707070;
    margin-bottom: 15px;
}

.profile .subInfo {
    display: flex;
}

.profile .subInfo p {
    margin-bottom: 0;
}

.profile .subInfo .subInfoInner {
    display: flex;
    align-items: center;
}

.profile .subInfo .subInfoInner span {
    margin-right: 5px;
}

.profile .subInfo div {
    margin-right: 15px;
}


/* Contact List & Seach contact
---------------------------------------------------------------*/
.contactList {}

.contactList .contact {
    display: flex;
    align-items: center;
    padding: 11px 0;
    border-bottom: 1px solid #ccc;
}

.contactList .contact:first-child {
    padding-top: 0px;
}

.contactList .contact p {
    margin-bottom: 0;
}

.contactList .contact .nombre,
.contactList .contact .username {
    margin-right: 10px;
}

.contactList .contact .profilePic {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100px;
    background-color: #ccc;
}

.contactList .contact .profilePic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.contactFullIn {
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
}

/* Admin Nav
---------------------------------------------------------------*/
.adminNav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-size: 1.5em;
    background-color: #404447;
}

.adminNav a {
    color: white;
    margin-right: 40px;
}

.adminNav a:hover {
    color: #ccc;
}

.adminNav a:last-child {
    margin-right: 0px;
}

/* Admin Tables
---------------------------------------------------------------*/
.adminTable {
    width: 100%;
}

.adminTable .editTitle {
    color: rgba(84, 57, 219, 1);
}

.adminTable tr {
    border-bottom: 1px solid #ccc;
}

.adminTable tr td {
    padding: 12px 0;
}

.adminTable tr .editIcons {
    padding: 12px 8px;
}

.adminTable tr .editIcons .glyphicon {
    margin-right: 6px;
    cursor: pointer;
}

.adminTable tr .editIcons .trash {
    color: rgb(204, 59, 59);
}

.adminTable tr .editIcons .trash:hover {
    color: rgb(128, 28, 28) !important;
}

.adminTable tr .editIcons .glyphicon:hover {
    color: rgba(84, 57, 219, 1);
}


.adminTable tr td p {
    margin-bottom: 0;
}

.adminTable tr td:last-child {
    border-left: 1px solid #ccc;
}

/* Sites Admin
---------------------------------------------------------------*/