<div class="opinions">
    <h3 class="title">Opiniones de clientes</h3>
    <!-- BEGIN FILA -->
    <div class="opinion">
        <div class="profilePic">
            <img src="{FOTO_USUARIO}" alt="{NOMBREUSUARIO}">
        </div>
        <div class="info">
            <div class="infoTop">
                <a href="profile?id={IDUSUARIO}"><b>{NOMBREUSUARIO}</b></a>
                <p class="username">@{USERNAME}</p>
                <p class="ranking"><span class="glyphicon glyphicon-star"></span>{CALIF}</p>
            </div>
            <div class="infoBody">
                <p>{OPINION}</p>
            </div>
        </div>
    </div>
    <!-- END FILA -->
</div>