<div class="sitesListAdmin">
    <table class="adminTable">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Ubicación</th>
            <th>Latitud & Longitud</th>
            <th>No. de Fotos</th>
            <th class="editTitle">Editar</th>
        </tr>
        <!-- BEGIN FILA -->
        <tr>
            <td>
                <p>{ID}</p>
            </td>
            <td>
                <p>{NOMBRE}</p>
            </td>
            <td>
                <p>{CATEGORIA}</p>
            </td>
            <td>
                <p>{UBICACION}</p>
            </td>
            <td>
                <p>lat:{LAT},&nbsp;&nbsp;&nbsp;long:{LONG}</p>
            </td>
            <td>
                <p>{NO_FOTOS}</p>
            </td>
            <td class="editIcons">
                <span class="glyphicon glyphicon-pencil tooltipA" ><span class="tooltiptext">Editar</span></span>
                <span class="glyphicon glyphicon-picture tooltipA" data-toggle="modal" data-target="#modalAgregarImg" data-val="{NOMBRE}" data-id="{ID}"><span class="tooltiptext">Agregar Imágen</span></span>
                <span class="glyphicon glyphicon-trash trash tooltipA"><span class="tooltiptext">Eliminar</span></span>
            </td>
        </tr>
        <!-- END FILA -->
    </table>
</div>