<div class="userListAdmin">
    <table class="adminTable">
        <tr>
            <th>Foto</th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Username</th>
            <th>Tipo Usuario</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Correo</th>
            <th>Fecha Registro</th>
            <th class="editTitle">Editar</th>
        </tr>
        <!-- BEGIN FILA -->
        <tr>
            <td>
                <div class="profilePic">
                    <img src="{FOTO}" alt="{NOMBRE}">
                </div>
            </td>
            <td>
                <p>{ID}</p>
            </td>
            <td>
                <p>{NOMBRE}</p>
            </td>
            <td>
                <p>{USERNAME}</p>
            </td>
            <td>
                <p>{TIPO}</p>
            </td>
            <td>
                <p>{EDAD}</p>
            </td>
            <td>
                <p>{GENERO}</p>
            </td>
            <td>
                <p>{CORREO}</p>
            </td>
            <td>
                <p>{FECHA_REGISTRO}</p>
            </td>
            <td class="editIcons">
                <span class="glyphicon glyphicon-pencil tooltipA"><span class="tooltiptext">Editar</span></span>
                <span class="glyphicon glyphicon-trash trash tooltipA"><span class="tooltiptext">Eliminar</span></span>
            </td>
        </tr>
        <!-- END FILA -->
    </table>
</div>